backend/vendor/*
cypress/node_modules/*
cypress/package-lock.json
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.env